<!DOCTYPE html>

<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dokdo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <!--Internal CSS stylesheet-->
    <link href="/static/styles.css" rel="stylesheet">
    <title>Proacademy-Game</title>
    <!--javascript-->
    <script>
            
            var a = 0;
            function myFunction(){
                var audio = document.getElementById('audio-test');
                if (a==0){
                    audio.src = '/static/1.mp3';
                    a = 1;
                }
                else if(a==1){
                    audio.src = '/static/2.mp3';
                    a = 2;
                }
                else if(a==2){
                    audio.src = '/static/3.mp3';
                    a = 3;
                }
                else if(a==3){
                    audio.src = '/static/4.mp3';
                    a = 4;
                }
                else if(a==4){
                    a = 0;
                }
            
                
            }

        </script>

        
  </head>
  <body>
      
      <div class="page">
          <!--navbar section-->
          <div class="header">
            <div class="call-us">
              <a href="tel:+48883135222"><img src="/static/call-us.png"></a>
            </div>
            <div class="logo">
              <a href={{ url_for('hello') }}><img src="/static/proacademy.png"></a>
            </div>
            <nav class="navbar">
              <ul>
                <li>
                  <img src="/static/hamburger2.png">
                  <div class="dropdown-menu">
                    <ul class="dropdown">
                      <li><a href={{ url_for('hello') }}>home</a></li>
                      <li><a href={{ url_for('kursy') }}>kursy</a></li>
                      <li><a href="index.html">cennik</a></li>
                      <li><a href="lektorzy.html">lektorzy</a></li>
                      <li><a href="index.html">o nas</a></li>
                      <li><a href="index.html">kontakt</a></li>
                      <li><a href="index.html">gra <span><img src="/static/proacademy.png"></span></a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </nav>
          </div>

        <!--audio and input-->
        <div class="audio-page">
            <form action="/audio1_0" id="audio1_0" method="POST">
              <audio controls>
                  <source src="/static/0.mp3" type="audio/mpeg">
              </audio>
              <input type="text" name="audio1_0">
              <a href={{ url_for('audio1_0') }}><input type="submit" value="Dalej"></a>

            </form>
        </div>
    

        <hr>

        <!--Footer-->>
        <div class="footer">
          <div class="copyright">
            <h1 id="java-test">&copy; 2019 | Szkoła języka angielskiego | Stargard</h1>
            <h2><em>All rights reserved.</em></h2>
            <h2><em>Powered by Proacademy. Created by Proacademy.</em></h2>
          </div>


          <div class="media-icons">
            <img src="facebook.png">
            <img src="twitter.png">
            <img src="youtube.png">
            <img src="instagram.png">
          </div>
        </div>



      </div>
  </body>
</html>