{% extends "layout.html" %}
{% block title %}
  Proacademy - Lektorzy
{% endblock %}

        {% block main %}
        <!--lektorzy-images-->
        <div class="lektorzy">
          <div class="lektorzy-container-1">
            <img src="/static/august1.png" class="lektorzy-image">
              <div class="lektorzy-text-container">
                <div class="lektorzy-name"><strong>August</strong></div>
                <div class="text-august">Absolwent Uniwersytetu Londyńskiego, Wydział Języka Angielskiego i Literatury.</div>
              </div>
          </div>

          <div class="lektorzy-container">
            <img src="/static/lukasz.png" class="lektorzy-image">
              <div class="lektorzy-text-container">
                <div class="lektorzy-name"><strong>Łukasz</strong></div>
                <div class="text-august">Absolwent Uniwersytetu Szczecińskiego, Wydział Filologiczny, Filologia Angielska.</div>
              </div>
          </div>
        </div>

        <hr>
        {% endblock %}
        